<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>496478449602-ojo4le7smtctg7tevjqfusoev0agbatb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.496478449602-ojo4le7smtctg7tevjqfusoev0agbatb</string>
	<key>API_KEY</key>
	<string>AIzaSyDacXr9QO0X_W0EaO9NVZCwIifKQ2-2A4s</string>
	<key>GCM_SENDER_ID</key>
	<string>496478449602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.f38</string>
	<key>PROJECT_ID</key>
	<string>f38bootcamp</string>
	<key>STORAGE_BUCKET</key>
	<string>f38bootcamp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496478449602:ios:637ebfe188922be525305b</string>
</dict>
</plist>